/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}



dl, ol, ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  display: inline;
}




/* Debug */

.debug {
  border: 2px dashed red;
}


/* CUSTOM PROPS */

:root {
  --top-bar-height: 50px;
}


/* === APP TOP === */

#app-top-bar {
  background-color: #e2e2e2;
  height: var(--top-bar-height);
}

.form-control {
  background-color: #e5e5e5;
}


/* campanella */
#app-top-bar .fa-solid.fa-bell {
  color: #ff8040;
}

/* Dropdown */
.dropdown-toggle::after {
  display: none;
}

.navbar-nav .dropdown-menu.show {
  right: 0;
}


/* === APP BOTTOM === */

#app-container {
  height: calc(100vh - var(--top-bar-height));
}


/* === SIDEBAR === */

#app-sidebar {
  width: 150px;
  background-color: #10283c;
  background-image: url('../img/sidebar-bg.png');
}


#app-sidebar .fa-solid {
  width: 20px;
}

.app-sidebar-section_bottom {
  margin-top: auto;
}



/* === HEADER MAIN CONTENT === */

#app-main-content {
  width: calc(100vw - 150px);
  height: calc(100vh - var(--top-bar-height));
  overflow: auto;
}


.app-main-content_header {
  background-color: #1b72e8;
  color: white;
}


/* === DASHBOARD MAIN CONTENT === */


#app-main-content .container {
  /* background-color: aqua; */
  max-width: 100%;
}

/* .col {
  border: 2px solid green;
} */


.class-avatar {
  width: 35px;
}

